In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
a=pd.read_excel('weekly_deaths.xlsx', index_col=0)

In [8]:
week_death=a['week_deaths']

In [11]:
week_death[7]

23

In [15]:
data_date3 = pd.read_excel('date-fit.xlsx')
date_series = data_date3['date'].squeeze()
date_series_str = date_series.dt.strftime('%Y/%m/%d')

In [17]:
i=0
fit_data = pd.DataFrame(columns = ['date', 'death'])
for date in date_series_str:
    
    j=int(i/7)
    day_death=week_death[j]/7
    fit_data = fit_data.append({'date' : date,  'death' : day_death }, ignore_index = True)
    i=i+1

In [18]:
fit_data

           date     death
0    2022/08/08  2.142857
1    2022/08/09  2.142857
2    2022/08/10  2.142857
3    2022/08/11  2.142857
4    2022/08/12  2.142857
..          ...       ...
358  2023/08/01  1.714286
359  2023/08/02  1.714286
360  2023/08/03  1.714286
361  2023/08/04  1.714286
362  2023/08/05  1.714286

[363 rows x 2 columns]

In [19]:
fit_data.to_csv('death_data_us.csv')